//--------- Start Banner Area -------------//
.parallax-mirror {
	max-height: 900px;
}

.home-banner-area {
    transition: all 1s;
	.template-name {
		@include transform(rotate(-90deg));
		position: absolute;
		top: 12%;
		left: 1%;
		font-size: 150px;
		font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 1rem;
		color: rgba($white, 0.05);

		@media (max-width: 767px) {
			display: none;
		}
	}

	.fullscreen {
		height: 900px;

		@include media-breakpoint-down (lg) {
			height: 700px;
		}
	}

	.overlay {
		background: rgba(5, 10, 52, 0.6);
	}

	.banner-content {
        margin-top: 25%;
        text-align: center;

		@media (max-width: 991px) {
			margin-top: 37%;
			text-align: center;
		}

		@media (max-width: 767px) {
			margin-top: 50%;
			text-align: center;
		}

		h1 {
			color: $white;
			font-size: 70px;
			line-height: 100px;
			font-weight: 700;
			text-transform: uppercase;
			margin-bottom: 20px;

			@include media-breakpoint-down(md) {
				font-size: 45px;
				line-height: 60px;
            }
            
            @media (max-width: 1200px) {
                font-size: 60px;
            }

			@media (max-width:414px) {
				font-size: 40px;
				line-height: 50px;
            }
		}

		p {
			font-size: 20px;
			font-weight: 300;
            color: $white;
            padding: 0 15%;
            @media (max-width: 991px) {
                font-size: 16px;
            }
		}

		.primary-btn {
			border: 1px solid $white;
			color: $white;
            margin-top: 20px;
            margin-right: 30px;
            border-radius: .3rem;

			&:hover {
				border: 1px solid $primary-color;
            }
            
            @media(max-width: 576px){
                padding: 8px 20px;
            }
		}
	}
}

.banner-area {
	background: url(../img/common-banner.jpg) no-repeat;
	background-size: cover;

	.banner-content {
		min-height: 450px;
	}

	.overlay-bg {
		background: rgba(#07041f, .6);
	}

	h1 {
		font-size: 50px;
		margin-bottom: 10px;

		@media(max-width: 768px) {
			font-size: 35px;
		}
	}

	p {
		margin-bottom: 0px;
		color: $white;
	}
}

.head-bottom-meta {
	position: absolute;
	bottom: 50px;
	left: 50px;
	color: $white;

	@media (max-width: 991px) {
		left: 50%;
		@include transform(translateX(-50%));
	}

	.meta-left a {
		margin-right: 20px;
		color: $white;
		cursor: pointer;
		@include transition();

		&:hover {
			color: $primary-color;
		}
	}

	@media(max-width:767px) {
		.flex-row {
			flex-direction: column !important;
		}

		.d-flex {
			display: block !important;
		}
	}
}

//--------- End Banner Area -------------//

.top-section-area {
	#imaginary_container {
		background: #fff;
		padding: 24px;
	}
}



.top-section-area {

	.stylish-input-group .form-control {
		border-right: 0;
		box-shadow: 0 0 0;
		border-color: #eee;
		background-color: $offwhite;
	}

	.input-group-addon {
		background-color: $offwhite !important;
		border-color: #eee;
	}

	.stylish-input-group button {
		border: 0;
		background: transparent;
	}

	input {
		font-size: 14px;
	}
}

/* Start Features Area css
============================================================================================ */
.projects-section{
    padding-top: 80px;
}

.features__title{
    text-align: center;
    font-size: 40px;
}

.features-slider {
	padding: 0 40px;
	margin-top: 60px;
}

.features-slider .single-project {
	height: 550px;
	width: 100%;
    background: #333;
	-o-transition: .8s;
	transition: .8s;
	-webkit-transition: .8s;
	-ms-transform: translateX(0);
	    transform: translateX(0);
	-webkit-transform: translateX(0);
    opacity: 1;
    position: relative;
    cursor: pointer;
}

.features__img{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    img{
        height: 100%;
    }
}

.features-slider .single-project .project-content {
	padding: 50px;
	height: 100%;
	background: rgba(13, 13, 13, 0.5);
	-webkit-transition: all 0.4s ease 0s;
	-o-transition: all 0.4s ease 0s;
	transition: all 0.4s ease 0s;
    opacity: 0;
}

.features-slider .single-project:hover .project-content{
    opacity: 1;
}

.features-slider .single-project .project-content h2 {
	color: #fff;
	font-weight: 500;
	position: relative;
	top: 20px;
	-webkit-transition: all 0.6s ease 0s;
	-o-transition: all 0.6s ease 0s;
	transition: all 0.6s ease 0s;
}

.features-slider .single-project:hover .project-content h2,
.features-slider .single-project:hover .project-content p {
	top: 0;
}

.features-slider .owl-nav {
	text-align: right;
	max-width: 1170px;
	margin: 20px auto 0;
}

.features-slider .owl-nav .owl-prev,
.features-slider .owl-nav .owl-next {
	display: inline-block;
	margin-right: 20px;
	font-size: 14px;
	font-weight: 700;
	color: #222222;
	letter-spacing: 1px;
	-webkit-transition: all 0.4s;
	-o-transition: all 0.4s;
	transition: all 0.4s;
	padding: 0 5px;
}

.features-slider .owl-nav .owl-prev:hover,
.features-slider .owl-nav .owl-next:hover {
	background: $primary-color;
}

.features-slider .owl-nav .owl-prev i {
	margin-right: 5px;
}

.features-slider .owl-nav .owl-next {
	margin-right: 0px;
}

.features-slider .owl-nav .owl-next i {
	margin-left: 5px;
}
/* End Features Area css
============================================================================================ */

/*-------- Start About Area ------------*/

.about-area {
	background: $offwhite;
	.about-left {
		@media(max-width: 991px) {
			margin-bottom: 50px;
        }
        max-width: 500px;
        img{
            max-width: 100%;
        }
    }
}
@media(max-width: 576px){
    .about-area .row{
        display: flex;
        flex-direction: column;
        text-align: center;
    }
}

.about-right {
	padding-left: 40px;

	@media (max-width: 1199px) {
		padding-left: 15px;
    }
    
    @media(max-width: 576px) {
        margin-bottom: 30px;
    }

	.section-title {
		margin-bottom: 20px;
	}

	.primary-btn {
        margin-top: 35px;
        @media(max-width: 991px) {
            margin-top: 15px;
			padding: 10px 20px;
        }
	}

	p {
        @media(max-width: 991px) {
			font-size: 12px;
        }
		&:last-child {
			margin-bottom: 0px;
		}
    }
    h2{
        @media(max-width: 576px) {
            text-align: center;
        }
    }
}

//--------- End About Area -------------//

//--------- start Service Area ------------- //
.offer-area {
	background: $offwhite;
	padding: 130px 0px 100px;

	@media (max-width: 991px) {
		padding: 70px 0px 40px;
	}

	&:after {
		position: absolute;
		content: "";
		top: 70px;
		left: 0;
		width: 36%;
		bottom: 70px;
		background: url(../img/offer.jpg) no-repeat center center/cover;
		z-index: 1;

		@media(max-width: 1199px) {
			width: 32%;
		}

		@media(max-width: 991px) {
			display: none;
		}
	}

	@media(max-width:991px) {
		.justify-content-end {
			justify-content: flex-start !important;
		}
	}

	.offer-right {
		padding-left: 35px;

		@media(max-width: 1024px) {
			padding-left: 15px;
		}
	}

	.single-offer {
		padding: 50px;
		background: $white;
		margin-bottom: 30px;
		border: 1px solid transparent;
		@include transition();

		h4 {
			margin: 0px 0px 20px;
			font-weight: 400;
		}

		p {
			margin-bottom: 0px;

		}

		&:hover {
			border: 1px solid $primary-color;
		}
	}
}


//--------- end Service Area -------------//

/*--------- Start Project Area -------------*/

.project-area {
	padding-bottom: 100px;

	@media (max-width: 991px) {
		padding-bottom: 40px;
	}

	.filters {
		text-align: center;

		@media (max-width: 991px) {
			margin-top: 40px;
		}

		ul {
			padding: 0;

			@media (max-width: 991px) {
				text-align: center;
			}

			li {
				list-style: none;
				display: inline-block;
				padding: 0 15px;
				cursor: pointer;
				position: relative;
				text-transform: uppercase;
				font-size: 13px;
				color: $title-color;
				&:last-child {
					padding-right: 0;
                }
                
                @media (max-width: 1200px) {
                    font-size: 11px;
                }

				@media (max-width: 991px) {
					&:first-child {
						padding-left: 0;
					}
				}

				&.active,
				&:hover {
					color: $primary-color;
				}
			}
		}
	}

	.filters-content {
		.show {
			opacity: 1;
			visibility: visible;
			transition: all 350ms;
		}

		.hide {
			opacity: 0;
			visibility: hidden;
			transition: all 350ms;
		}

		img {
			border-radius: 10px;
			width: 100%;
		}
	}
}


.filter-project {
	border-radius: 5px;
	margin-bottom: 30px;

	.thumb {
		.image {
			opacity: 1;
			display: block;
			width: 100%;
			height: 100%;
			transition: 0.5s ease;
			backface-visibility: hidden;
		}
	}

	.middle {
		transition: 0.5s ease;
		position: absolute;
		right: 0;
		top: 0px;
		min-width: 290px;
		background: $white;
		box-shadow: 0px -10px 30px rgba($title-color, 0.1);
		padding: 34px 30px;

		@media(min-width: 1200px){
			right: 10px;
		}

		h4 {
			font-size: 20px;
			margin-bottom: 5px;
		}

		.cat {
			@include transition();
		}
	}

	&:hover {
		.thumb {}

		.middle {
			.cat {
				color: $primary-color;
			}
		}
	}
}

/*--------- End Work Area -------------*/
/*--------- Start Benfit Area -------------*/
.benefit {
    background: rgb(243, 243, 243);
    &__title-block {
        text-align: center;
        font-size: 40px;
        margin-bottom: 80px;
    }

    &__items {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    &__item {
        flex: 0 1 29%;
        background: #fff;
        padding: 40px;
        margin: 0 30px 30px 0;
        -webkit-box-shadow: 0px 0px 20px -7px rgba(0,0,0,0.47); 
        box-shadow: 0px 0px 20px -7px rgba(0,0,0,0.47);
        transition: all .3s;
        &:hover{
            -webkit-box-shadow: 1px 0px 11px 10px rgba(0,0,0,0.33); 
            box-shadow: 1px 0px 11px 10px rgba(0,0,0,0.33);
        }
        @media(max-width: 576px) {
            flex: 0 1 45% !important;
        }
    }

    &__item-icon-block {
        width: 40px;
        height: 40px;
        margin-bottom: 20px;
    }

    &__item-content {
    }

    &__item-title {
        font-size: 20px;
        font-weight: 700;
        margin-bottom: 16px;
        transition: color .3s;
    }

    &__item:hover .benefit__item-title{
        color: $primary-color;
    }

    &__item-text {
    }

    @media (max-width: 991px) {
        &__item {
            flex: 0 1 27%;
            padding: 20px;
            margin: 0 20px 20px 0;
        }
        &__item-title{
            font-size: 16px;
        }
        &__item-text {
            font-size: 12px;
        }
    }
}

/*--------- End Benfit Area -------------*/

/*--------- Start form Area -------------*/
  
.form {
    margin: 80px 0;
    &__block {
        display: flex;
        flex-direction: column;
        text-align: center;
        margin: 0 auto;
        max-width: 800px;
        border: 1px solid #000;
        border-radius: .3rem;
        padding: 50px;
    }

    &__title {
        font-size: 40px;
        margin-bottom: 20px;
    }

    &__text {
        font-size: 18px;
        margin-bottom: 18px;
    }

    form{

    }

    &__input{
        display: block;
        margin: 0 auto 30px;
        width: 70%;
        border-radius: 0;
        padding: 10px;
        border: 1px solid #000;
    }

    &__btn{
        width: 70%;
        padding: 10px;
        border-radius: .5rem;
        background: transparent;
        border: 1px solid #000;
        font-weight: 500;
        transition: all .3s;
        &:hover{
            background: #000;
            color: $primary-color;
        }
    }
}

/*--------- End form Area -------------*/

/*--------- Start callto Area -------------*/

.callto-area {
	background: url(../img/ct1.jpg) center;
	background-size: cover;
	text-align: center;

	.call-wrap {
		position: relative;
	}

	h1 {
		font-size: 42px;
		color: $white;
		text-align: center;
		margin-bottom: 50px;
	}

	p {
		margin-bottom: 0px;
		font-weight: 500;
		margin-top: 20px;
		color: $white;
	}

	.overlay-bg {
		background: rgba(#050a34, .7)
	}
}

/*--------- end callto Area -------------*/

//--------- start testimonial area  -------------//

.testimonial-area {
	background: $offwhite;

	.owl-controls {
		margin-top: 70px;

		@media (max-width: 991px) {
			display: none;
		}
	}

	.owl-dots {
		text-align: center;
		bottom: 5px;
		margin-top: 0px;
		width: 100%;
		-webkit-backface-visibility: hidden;
		-moz-backface-visibility: hidden;
		-ms-backface-visibility: hidden;
		backface-visibility: hidden;
	}

	.owl-dot {
		height: 4px;
		width: 20px;
		display: inline-block;
		background: rgba(127, 127, 127, 0.5);
		margin: 0px 10px;
		border-radius: 5px;
		@include transition();
	}

	.owl-dot.active {
		@include transition;
		padding: 0px 25px 0px 0px;
		background: $primary-color;
	}

}

.single-testimonial {
	background-color: $white;
	padding: 30px;
	border: 1px solid transparent;
	@include transition();

	h4 {
		margin: 20px 0px 10px;
		font-size: 18px;
		text-transform: uppercase;
	}

	p {
		margin-bottom: 0px;
	}

	.thumb {
		margin-right: 20px;

		img {
			width: auto;
		}
	}

	&:hover {
		border: 1px solid $primary-color;
	}
}

//--------- end testimonial area  -------------//

/*--------- start brand Area -------------*/

.brands-area {
	padding: 60px 0px;

	.brand-wrap {
		padding: 40px 0;

		.owl-carousel .owl-item img {
			width: auto !important;
		}

		.single-brand {
			text-align: center;
			@include filter(grayscale(100%));
			opacity: .3;
			@include transition();

			&:hover {
				@include filter(grayscale(0%));
				opacity: 1;
			}
		}
	}

}

/*--------- end brand Area -------------*/

/*============== contact_area css ================*/
.contact_area {
}
.mapBox {
  height: 420px;
  margin-bottom: 80px;
}
.contact_info {
  .info_item {
    position: relative;
    padding-left: 45px;
    i {
      position: absolute;
      left: 0;
      top: 0;
      font-size: 20px;
      line-height: 24px;
      color: $title-color;
      font-weight: 600;
    }
    h6 {
      font-size: 16px;
      line-height: 24px;
      color: $primary-font;
      font-weight: bold;
      margin-bottom: 0px;
      color: $title-color;
      a {
        color: $title-color;
      }
    }
    p {
      font-size: 14px;
      line-height: 24px;
      padding: 2px 0px;
    }
  }
}
.contact_form {
  .form-group {
    margin-bottom: 10px;
    .form-control {
      line-height: 26px;
      color: #999;
      border: 1px solid #eeeeee;
      font-family: $primary-font;
      border-radius: 0px;
      padding-left: 20px;
      &:focus {
        box-shadow: none;
        outline: none;
      }
      @include placeholder {
        color: $title-color;
        font-size: 13px;
      }
    }
    textarea {
      resize: none;
      &.form-control {
        height: 140px;
      }
    }
  }
  .primary-btn {
    margin-top: 20px;
    cursor: pointer;
  }
}

/* Contact Success and error Area css
============================================================================================ */
.modal-message {
  .modal-dialog {
    position: absolute;
    top: 36%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%) !important;
    margin: 0px;
    max-width: 500px;
    width: 100%;
    .modal-content {
      .modal-header {
        text-align: center;
        display: block;
        border-bottom: none;
        padding-top: 50px;
        padding-bottom: 50px;
        .close {
          position: absolute;
          right: -15px;
          top: -15px;
          padding: 0px;
          color: #fff;
          opacity: 1;
          cursor: pointer;
        }
        h2 {
          display: block;
          text-align: center;
          color: $primary-color;
          padding-bottom: 10px;
          font-family: $primary-font;
        }
        p {
          display: block;
        }
      }
    }
  }
}
/* End Contact Success and error Area css
============================================================================================ */

.number-tel{
    a{
        font-size: 20px;
        color: $primary-color;
        padding-right: 0;
    }
}
@media(max-width: 1200px){
    .number-tel{
        a{
            font-size: 16px;
        }
    }
}

.social-media-block{
    display: inline-block;
    position: absolute;
    bottom: 30%;
    right: 30px;
    text-align: center;
    font-size: 15px;
    &::before{
        display: block;
        content: "";
        width: 2px;
        height: 42px;
        background-color: rgba(255, 255, 255, 0.15);
        margin: 0 0 20px 20px;
    }
    @media(max-width: 576px) {
        bottom: 15%;
    }
}

.social-media{
    padding-left: 0px;
    li {
        // color: rgba(167, 146, 129, 0.6);
        color: #fff;
        list-style-type: none;
        display: block;
        width: 25px;
        height: 25px;
        line-height: 22px;
        // border: 1px solid rgba(167, 146, 129, 0.4);
        border: 1px solid #fff;
        border-radius: 4px;
        cursor: pointer;
        margin-left: 10px;
        margin-bottom: 20px;
        transition: ease .3s;
        &:hover {
          color: $primary-color;
          border: 1px solid $primary-color;
        }
      }
      &:hover > li{
        opacity: 0.5;
      }
      &:hover > li:hover{
        opacity: 1;
      }
}

.down-block{
    color: #fff;
    cursor: pointer;
    position: absolute;
    bottom: 12%;
    right: 30px;
    writing-mode: vertical-lr;
    letter-spacing: .1rem;
    animation-duration: .9s;
    animation-name: Down;
    animation-iteration-count: infinite;
    svg{
        margin-top: 10px;
        fill: white;
    }
    @media (max-width: 1200px) {
        bottom: 8%;
    }
    @media(max-width: 576px) {
        display: none;
    }
}

.number-tel-default{
    color: #000;
    text-decoration: underline;
    font-size: 16px;
}

.scrolltop{
    position: fixed;
    bottom: 30px;
    right: 30px;
    width: 50px;
    height: 50px;
    background-color: $title-color;
    border-radius: 50%;
    display: none;
    align-items: center;
    justify-content: center;
    transition: all .3s;
    cursor: pointer;
    z-index: 10;
    svg{
        width: 30px;
        height: 30px;
        path{
            fill: #fff;
        }
    }
    &:hover{
        background-color: #fff;
        svg{
            path{
                fill: $title-color;
            }
        }
    }
}

@media(max-width:576px){
    .navbar-brand img {
        max-width: 160px !important;
    }
}

@keyframes Down{
    0%{
        transform: translateY(-5px);
    }
    20%{
        transform: translateY(0px);
    }
    40%{
        transform: translateY(5px);
    }
    60%{
        transform: translateY(0px);
    }
    100%{
        transform: translateY(-5px);
    }
}